#Navbar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 50px;
  background-color: #ffffff;
  border-radius: 10px;

  a {
    text-decoration: none;
    color: black;
    margin: 0 auto;
    li {
      line-height: 50px;
      list-style-type: none;
    }
  }

  @media (max-width: $breakpoint-tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
}
