// Insert variables here

// Colors
$color-white: #f1f1f1;
$color-gray: #dfd9d9;
$color-gray-dark: #bebaba;
$color-gray-text: #3d3d3d;
$color-gray-button: #1d1c1c;

// Media queries
$breakpoint-tablet: 767px;
$breakpoint-desktop: 1023px;
$breakpoint-desktop-large: 1201px;
